@tailwind base;
@tailwind components;
@tailwind utilities;

#background-settings {
  transition-property: right;
  transition-duration: 500ms;
}

#background-settings.is-hidden {
  right: -20rem;
}

#settingsMessage.is-hidden {
  display: none;
}